BIOE5060 Essential Computing Skills for Bioengineers | Prof. Qianqian Fang

Final Project | SQL Jupyter Notebook Tutorial

Fall 2024 | December 9th, 2024


Quincy Sasson

Step 0 - Steup the notebook environment and move on

In [1]:
!pip install jupysql --quiet

%load_ext sql
%config SqlMagic.displaylimit = None

   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 95.1/95.1 kB 2.6 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 192.8/192.8 kB 8.1 MB/s eta 0:00:00
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 54.8/54.8 kB 3.1 MB/s eta 0:00:00

displaylimit: Value None will be treated as 0 (no limit)

Outline
- SQL Overview
- History
- Language Synopsis
 - Basic Querying and Implementation of Langauge
 - Branches + Loops
 - Intermediate and Unique Features
- Functions + Programs
- Reading + Writing Files

SQL Overview
- What is SQL?
  
  SQL or Structured Query Language is a domain-specific langauge used to manage and manipulate relational databases. It is the standard language used for database management systems.

- Strengths + Advantages
  - Data Management: SQL is the standard language for interacting with relational databases
  - Portability: Works across multiple database systems
  - Ease of Use: SQL's syntax is straightforward and beginner friendly
  - Scalability: hanfles small datasets to enterprise-level data
  - Rich Feature Set: Offers robust tools for data querying, analysis, and manipulation

Brief History
- Developed in the 1970s at IBM by Donald D. Chamberlin and Raymond F Boyce.
- Standardized by ANSI in 1986 and ISO in 1987.
- SQL has been widely adopted in relational database management systems like MySQL, PostgreSQL, and Oracle.
- Continuously evolving with features like window functions, JSON support, and recurse queries.

Language Synposis
- Data Types
  - INTEGER: Whole Numbers
  - REAL: Decimal Numbers
  - TEXT: Strings
  - BOOLEAN: True/False Values
  - DATE: YYYY-MM-DD
  - NULL: Placeholder for Missing Data
  - BLOB: Binary Large Object, Varying Length Binary String
- Operators
  - Arithmetic: +, -, *, /, %
  - Aggregate: MIN(), MAX(), COUNT(), SUM(), AVG()
  - Comparison: =, >, >=, =<, <, != or <>
  - Logical: AND, OR, NOT
  - Set: IN, NOT IN
  - Pattern Matching: LIKE, ILIKE
    - %: Matches Zero or More Characters
    - _: Matches Exactly One Character
- Branch/Loop Conditions
  - SQL does not natively support branching or loops, however, it is possible to implement them.
  - CASE Statements: Conditional Logical in Queries
  - Stored Procedures: Include Conditional Logic and Looping
- Intermediate and Unique Features
  - Index: Speed Up Data Retrieval
  - Joins: Combine Data from Multiple Tables

In [2]:
%%sql sqlite://

-- Basic Data Types

CREATE TABLE example(
  id INTEGER,
  name TEXT,
  price REAL
);

Connecting to 'sqlite://'

++
||
++
++

In [3]:
%%sql sqlite://

-- Insert Data into Table

CREATE TABLE address(
  street TEXT,
  city TEXT,
  state TEXT,
  zip INTEGER
);

INSERT INTO address VALUES ('1600 Pennsylvania Ave NW', 'Washington', 'DC', 20500); -- White House
INSERT INTO address VALUES ('601 Lexington Avenue 153 E 53rd St', 'New York', 'NY', 10022); -- Citgroup Center

1 rows affected.

1 rows affected.

++
||
++
++

In [5]:
%%sql sqlite://

-- Retrieval Data from Table

SELECT *
FROM address
-- WHERE state = 'DC';

+--------------------------+------------+-------+-------+
|          street          |    city    | state |  zip  |
+--------------------------+------------+-------+-------+
| 1600 Pennsylvania Ave NW | Washington |   DC  | 20500 |
+--------------------------+------------+-------+-------+

### Example Set Up

In [6]:
%%sql sqlite://
CREATE TABLE customers (name, address, state, customer_id, email);
INSERT INTO customers VALUES ('Alice Smith', '123 Elm Street', 'California', 1001, 'alice.smith@example.com');
INSERT INTO customers VALUES ('Bob Johnson', '456 Oak Avenue', 'New York', 1002, 'bob.johnson@example.com');
INSERT INTO customers VALUES ('Charlie Brown', '789 Pine Lane', 'Texas', 1003, 'charlie.brown@example.com');
INSERT INTO customers VALUES ('Diana Green', '321 Maple Drive', 'Florida', 1004, 'diana.green@example.com');
INSERT INTO customers VALUES ('Edward White', '654 Birch Court', 'Illinois', 1005, 'edward.white@example.com');
INSERT INTO customers VALUES ('Fiona Black', '987 Cedar Road', 'Nevada', 1006, 'fiona.black@example.com');
INSERT INTO customers VALUES ('George Miller', '159 Spruce Street', 'Washington', 1007, 'george.miller@example.com');
INSERT INTO customers VALUES ('Hannah Lee', '753 Redwood Boulevard', 'Oregon', 1008, 'hannah.lee@example.com');
INSERT INTO customers VALUES ('Ian Walker', '951 Willow Parkway', 'Arizona', 1009, 'ian.walker@example.com');
INSERT INTO customers VALUES ('Jackie Robinson', '246 Aspen Terrace', 'Colorado', 1010, 'jackie.robinson@example.com');
INSERT INTO customers VALUES ('Karen Hall', '135 Fir Way', 'Georgia', 1011, 'karen.hall@example.com');
INSERT INTO customers VALUES ('Liam King', '864 Cypress Path', 'Alabama', 1012, 'liam.king@example.com');
INSERT INTO customers VALUES ('Molly Adams', '482 Palm Circle', 'Michigan', 1013, 'molly.adams@example.com');
INSERT INTO customers VALUES ('Nathan Carter', '798 Chestnut Row', 'Ohio', 1014, 'nathan.carter@example.com');
INSERT INTO customers VALUES ('Olivia Scott', '310 Walnut Loop', 'Indiana', 1015, 'olivia.scott@example.com');
INSERT INTO customers VALUES ('Paul Turner', '657 Magnolia Way', 'Missouri', 1016, 'paul.turner@example.com');
INSERT INTO customers VALUES ('Quinn Harris', '972 Poplar Drive', 'Kentucky', 1017, 'quinn.harris@example.com');
INSERT INTO customers VALUES ('Rachel Wright', '583 Sycamore Court', 'Virginia', 1018, 'rachel.wright@example.com');
INSERT INTO customers VALUES ('Samuel Young', '794 Hickory Grove', 'Tennessee', 1019, 'samuel.young@example.com');
INSERT INTO customers VALUES ('Tina Mitchell', '241 Dogwood Lane', 'Minnesota', 1020, 'tina.mitchell@example.com');
INSERT INTO customers VALUES ('Umar Reed', '689 Alder Place', 'Mississippi', 1021, 'umar.reed@example.com');
INSERT INTO customers VALUES ('Victoria Hughes', '394 Pinecone Trail', 'Wisconsin', 1022, 'victoria.hughes@example.com');
INSERT INTO customers VALUES ('William Bryant', '847 Laurel Avenue', 'South Carolina', 1023, 'william.bryant@example.com');
INSERT INTO customers VALUES ('Xena Harper', '206 Peach Tree Blvd', 'North Carolina', 1024, 'xena.harper@example.com');
INSERT INTO customers VALUES ('Yasmine Morris', '715 Mahogany Street', 'Louisiana', 1025, 'yasmine.morris@example.com');
INSERT INTO customers VALUES ('Zachary Ford', '523 Eucalyptus Lane', 'Arkansas', 1026, 'zachary.ford@example.com');
INSERT INTO customers VALUES ('Abigail Brooks', '192 Ironwood Circle', 'Montana', 1027, 'abigail.brooks@example.com');
INSERT INTO customers VALUES ('Benjamin Fisher', '430 Maplewood Drive', 'West Virginia', 1028, 'benjamin.fisher@example.com');
INSERT INTO customers VALUES ('Catherine James', '657 Hemlock Road', 'Nebraska', 1029, 'catherine.james@example.com');
INSERT INTO customers VALUES ('David Ellis', '853 Banyan Court', 'South Dakota', 1030, 'david.ellis@example.com');
INSERT INTO customers VALUES ('Elena Peters', '481 Juniper Path', 'North Dakota', 1031, 'elena.peters@example.com');
INSERT INTO customers VALUES ('Franklin Ross', '215 Sequoia Place', 'Hawaii', 1032, 'franklin.ross@example.com');
INSERT INTO customers VALUES ('Grace Coleman', '619 Beech Road', 'Alaska', 1033, 'grace.coleman@example.com');
INSERT INTO customers VALUES ('Henry Ramirez', '728 Aspen Way', 'Maine', 1034, 'henry.ramirez@example.com');
INSERT INTO customers VALUES ('Isla Clark', '913 Maple Ridge', 'New Hampshire', 1035, 'isla.clark@example.com');
INSERT INTO customers VALUES ('Jacob Hill', '376 Oak Leaf Lane', 'Vermont', 1036, 'jacob.hill@example.com');
INSERT INTO customers VALUES ('Kaitlyn Perez', '842 Birchwood Circle', 'Delaware', 1037, 'kaitlyn.perez@example.com');
INSERT INTO customers VALUES ('Logan Simmons', '495 Elm Grove', 'Rhode Island', 1038, 'logan.simmons@example.com');
INSERT INTO customers VALUES ('Megan Foster', '354 Pine Meadow', 'Connecticut', 1039, 'megan.foster@example.com');
INSERT INTO customers VALUES ('Noah Gonzales', '517 Cedarwood Trail', 'Massachusetts', 1040, 'noah.gonzales@example.com');
INSERT INTO customers VALUES ('Olivia Russell', '824 Spruce Cove', 'Pennsylvania', 1041, 'olivia.russell@example.com');
INSERT INTO customers VALUES ('Parker Hayes', '268 Redwood Forest', 'Maryland', 1042, 'parker.hayes@example.com');
INSERT INTO customers VALUES ('Quincy Bennett', '357 Hickory Hill', 'New Jersey', 1043, 'quincy.bennett@example.com');
INSERT INTO customers VALUES ('Riley Torres', '629 Palm Ridge', 'New Mexico', 1044, 'riley.torres@example.com');
INSERT INTO customers VALUES ('Sophia Reed', '418 Poplar Grove', 'Utah', 1045, 'sophia.reed@example.com');
INSERT INTO customers VALUES ('Thomas Lewis', '906 Walnut Bend', 'Kansas', 1046, 'thomas.lewis@example.com');
INSERT INTO customers VALUES ('Uma Edwards', '712 Magnolia Place', 'Oklahoma', 1047, 'uma.edwards@example.com');
INSERT INTO customers VALUES ('Victor Hall', '295 Dogwood Lane', 'Idaho', 1048, 'victor.hall@example.com');
INSERT INTO customers VALUES ('Wendy Bell', '816 Sycamore Street', 'Wyoming', 1049, 'wendy.bell@example.com');
INSERT INTO customers VALUES ('Xander Scott', '372 Alder Grove', 'Montana', 1050, 'xander.scott@example.com');

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [7]:
%%sql sqlite://
CREATE TABLE orders (order_id, customer_id, order_status, order_date);
INSERT INTO orders VALUES (2001, 1001, 'Shipped', '2024-11-11');
INSERT INTO orders VALUES (2002, 1002, 'Pending', '2024-11-12');
INSERT INTO orders VALUES (2003, 1003, 'Delivered', '2024-11-13');
INSERT INTO orders VALUES (2004, 1004, 'Cancelled', '2024-11-14');
INSERT INTO orders VALUES (2005, 1005, 'Pending', '2024-11-15');
INSERT INTO orders VALUES (2006, 1006, 'Shipped', '2024-11-16');
INSERT INTO orders VALUES (2007, 1007, 'Delivered', '2024-11-17');
INSERT INTO orders VALUES (2008, 1008, 'Pending', '2024-11-18');
INSERT INTO orders VALUES (2009, 1009, 'Shipped', '2024-11-19');
INSERT INTO orders VALUES (2010, 1010, 'Delivered', '2024-11-20');
INSERT INTO orders VALUES (2011, 1011, 'Pending', '2024-11-21');
INSERT INTO orders VALUES (2012, 1012, 'Shipped', '2024-11-22');
INSERT INTO orders VALUES (2013, 1013, 'Delivered', '2024-11-23');
INSERT INTO orders VALUES (2014, 1014, 'Cancelled', '2024-11-24');
INSERT INTO orders VALUES (2015, 1015, 'Pending', '2024-11-25');
INSERT INTO orders VALUES (2016, 1016, 'Shipped', '2024-11-11');
INSERT INTO orders VALUES (2017, 1017, 'Delivered', '2024-11-12');
INSERT INTO orders VALUES (2018, 1018, 'Pending', '2024-11-13');
INSERT INTO orders VALUES (2019, 1019, 'Shipped', '2024-11-14');
INSERT INTO orders VALUES (2020, 1020, 'Delivered', '2024-11-15');
INSERT INTO orders VALUES (2021, 1021, 'Cancelled', '2024-11-16');
INSERT INTO orders VALUES (2022, 1022, 'Pending', '2024-11-17');
INSERT INTO orders VALUES (2023, 1023, 'Shipped', '2024-11-18');
INSERT INTO orders VALUES (2024, 1024, 'Delivered', '2024-11-19');
INSERT INTO orders VALUES (2025, 1025, 'Pending', '2024-11-20');
INSERT INTO orders VALUES (2026, 1026, 'Shipped', '2024-11-21');
INSERT INTO orders VALUES (2027, 1027, 'Delivered', '2024-11-22');
INSERT INTO orders VALUES (2028, 1028, 'Pending', '2024-11-23');
INSERT INTO orders VALUES (2029, 1029, 'Shipped', '2024-11-24');
INSERT INTO orders VALUES (2030, 1030, 'Delivered', '2024-11-25');
INSERT INTO orders VALUES (2031, 1031, 'Pending', '2024-11-11');
INSERT INTO orders VALUES (2032, 1032, 'Shipped', '2024-11-12');
INSERT INTO orders VALUES (2033, 1033, 'Delivered', '2024-11-13');
INSERT INTO orders VALUES (2034, 1034, 'Pending', '2024-11-14');
INSERT INTO orders VALUES (2035, 1035, 'Shipped', '2024-11-15');
INSERT INTO orders VALUES (2036, 1036, 'Delivered', '2024-11-16');
INSERT INTO orders VALUES (2037, 1037, 'Pending', '2024-11-17');
INSERT INTO orders VALUES (2038, 1038, 'Shipped', '2024-11-18');
INSERT INTO orders VALUES (2039, 1039, 'Delivered', '2024-11-19');
INSERT INTO orders VALUES (2040, 1040, 'Pending', '2024-11-20');
INSERT INTO orders VALUES (2041, 1041, 'Shipped', '2024-11-21');
INSERT INTO orders VALUES (2042, 1042, 'Delivered', '2024-11-22');
INSERT INTO orders VALUES (2043, 1043, 'Pending', '2024-11-23');
INSERT INTO orders VALUES (2044, 1044, 'Shipped', '2024-11-24');
INSERT INTO orders VALUES (2045, 1045, 'Delivered', '2024-11-25');
INSERT INTO orders VALUES (2046, 1046, 'Pending', '2024-11-11');
INSERT INTO orders VALUES (2047, 1047, 'Shipped', '2024-11-12');
INSERT INTO orders VALUES (2048, 1048, 'Delivered', '2024-11-13');
INSERT INTO orders VALUES (2049, 1049, 'Pending', '2024-11-14');
INSERT INTO orders VALUES (2050, 1050, 'Shipped', '2024-11-15');
INSERT INTO orders VALUES (2051, 1001, 'Delivered', '2024-11-16');
INSERT INTO orders VALUES (2052, 1002, 'Pending', '2024-11-17');
INSERT INTO orders VALUES (2053, 1003, 'Shipped', '2024-11-18');
INSERT INTO orders VALUES (2054, 1004, 'Delivered', '2024-11-19');
INSERT INTO orders VALUES (2055, 1005, 'Pending', '2024-11-20');
INSERT INTO orders VALUES (2056, 1006, 'Shipped', '2024-11-21');
INSERT INTO orders VALUES (2057, 1007, 'Delivered', '2024-11-22');
INSERT INTO orders VALUES (2058, 1008, 'Pending', '2024-11-23');
INSERT INTO orders VALUES (2059, 1009, 'Shipped', '2024-11-24');
INSERT INTO orders VALUES (2060, 1010, 'Delivered', '2024-11-25');

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

In [8]:
%%sql sqlite://
CREATE TABLE order_items (order_id, item_id, item_name, quantity, list_price);
INSERT INTO order_items VALUES (2001, 3001, 'Insignia Tee', 2, 77);
INSERT INTO order_items VALUES (2001, 3003, 'Insignia Hoodie', 1, 142);
INSERT INTO order_items VALUES (2002, 3002, 'Insignia Crewneck', 1, 129);
INSERT INTO order_items VALUES (2002, 3005, 'L/S Compression Top', 3, 104);
INSERT INTO order_items VALUES (2003, 3004, 'Insignia Sweatpants', 2, 129);
INSERT INTO order_items VALUES (2003, 3007, 'Half Tights', 1, 85);
INSERT INTO order_items VALUES (2004, 3006, 'Running Vest', 1, 98);
INSERT INTO order_items VALUES (2004, 3001, 'Insignia Tee', 4, 77);
INSERT INTO order_items VALUES (2005, 3002, 'Insignia Crewneck', 1, 129);
INSERT INTO order_items VALUES (2005, 3003, 'Insignia Hoodie', 2, 142);
INSERT INTO order_items VALUES (2006, 3005, 'L/S Compression Top', 1, 104);
INSERT INTO order_items VALUES (2006, 3007, 'Half Tights', 2, 85);
INSERT INTO order_items VALUES (2007, 3004, 'Insignia Sweatpants', 1, 129);
INSERT INTO order_items VALUES (2007, 3006, 'Running Vest', 3, 98);
INSERT INTO order_items VALUES (2008, 3001, 'Insignia Tee', 2, 77);
INSERT INTO order_items VALUES (2008, 3002, 'Insignia Crewneck', 1, 129);
INSERT INTO order_items VALUES (2009, 3003, 'Insignia Hoodie', 2, 142);
INSERT INTO order_items VALUES (2009, 3005, 'L/S Compression Top', 1, 104);
INSERT INTO order_items VALUES (2010, 3004, 'Insignia Sweatpants', 3, 129);
INSERT INTO order_items VALUES (2010, 3007, 'Half Tights', 1, 85);
INSERT INTO order_items VALUES (2011, 3006, 'Running Vest', 1, 98);
INSERT INTO order_items VALUES (2011, 3002, 'Insignia Crewneck', 4, 129);
INSERT INTO order_items VALUES (2012, 3001, 'Insignia Tee', 1, 77);
INSERT INTO order_items VALUES (2012, 3004, 'Insignia Sweatpants', 2, 129);
INSERT INTO order_items VALUES (2013, 3003, 'Insignia Hoodie', 1, 142);
INSERT INTO order_items VALUES (2013, 3006, 'Running Vest', 2, 98);
INSERT INTO order_items VALUES (2014, 3007, 'Half Tights', 1, 85);
INSERT INTO order_items VALUES (2014, 3005, 'L/S Compression Top', 3, 104);
INSERT INTO order_items VALUES (2015, 3002, 'Insignia Crewneck', 2, 129);
INSERT INTO order_items VALUES (2015, 3004, 'Insignia Sweatpants', 1, 129);
INSERT INTO order_items VALUES (2016, 3001, 'Insignia Tee', 3, 77);
INSERT INTO order_items VALUES (2016, 3003, 'Insignia Hoodie', 1, 142);
INSERT INTO order_items VALUES (2017, 3005, 'L/S Compression Top', 2, 104);
INSERT INTO order_items VALUES (2017, 3007, 'Half Tights', 1, 85);
INSERT INTO order_items VALUES (2018, 3006, 'Running Vest', 1, 98);
INSERT INTO order_items VALUES (2018, 3002, 'Insignia Crewneck', 4, 129);
INSERT INTO order_items VALUES (2019, 3004, 'Insignia Sweatpants', 2, 129);
INSERT INTO order_items VALUES (2019, 3001, 'Insignia Tee', 1, 77);
INSERT INTO order_items VALUES (2020, 3003, 'Insignia Hoodie', 1, 142);
INSERT INTO order_items VALUES (2020, 3005, 'L/S Compression Top', 3, 104);
INSERT INTO order_items VALUES (2021, 3007, 'Half Tights', 1, 85);
INSERT INTO order_items VALUES (2021, 3006, 'Running Vest', 2, 98);
INSERT INTO order_items VALUES (2022, 3002, 'Insignia Crewneck', 1, 129);
INSERT INTO order_items VALUES (2022, 3004, 'Insignia Sweatpants', 3, 129);
INSERT INTO order_items VALUES (2023, 3001, 'Insignia Tee', 2, 77);
INSERT INTO order_items VALUES (2023, 3003, 'Insignia Hoodie', 1, 142);
INSERT INTO order_items VALUES (2024, 3005, 'L/S Compression Top', 1, 104);
INSERT INTO order_items VALUES (2024, 3007, 'Half Tights', 2, 85);
INSERT INTO order_items VALUES (2025, 3006, 'Running Vest', 3, 98);
INSERT INTO order_items VALUES (2025, 3002, 'Insignia Crewneck', 1, 129);
INSERT INTO order_items VALUES (2026, 3004, 'Insignia Sweatpants', 2, 129);
INSERT INTO order_items VALUES (2026, 3001, 'Insignia Tee', 1, 77);
INSERT INTO order_items VALUES (2027, 3003, 'Insignia Hoodie', 3, 142);
INSERT INTO order_items VALUES (2027, 3005, 'L/S Compression Top', 1, 104);
INSERT INTO order_items VALUES (2028, 3007, 'Half Tights', 1, 85);
INSERT INTO order_items VALUES (2028, 3006, 'Running Vest', 2, 98);
INSERT INTO order_items VALUES (2029, 3002, 'Insignia Crewneck', 1, 129);
INSERT INTO order_items VALUES (2029, 3004, 'Insignia Sweatpants', 3, 129);
INSERT INTO order_items VALUES (2030, 3001, 'Insignia Tee', 2, 77);
INSERT INTO order_items VALUES (2030, 3003, 'Insignia Hoodie', 1, 142);
INSERT INTO order_items VALUES (2031, 3005, 'L/S Compression Top', 1, 104);
INSERT INTO order_items VALUES (2031, 3006, 'Running Vest', 2, 98);
INSERT INTO order_items VALUES (2032, 3007, 'Half Tights', 3, 85);
INSERT INTO order_items VALUES (2032, 3002, 'Insignia Crewneck', 1, 129);
INSERT INTO order_items VALUES (2033, 3004, 'Insignia Sweatpants', 2, 129);
INSERT INTO order_items VALUES (2033, 3001, 'Insignia Tee', 1, 77);
INSERT INTO order_items VALUES (2034, 3003, 'Insignia Hoodie', 2, 142);
INSERT INTO order_items VALUES (2034, 3005, 'L/S Compression Top', 1, 104);
INSERT INTO order_items VALUES (2035, 3007, 'Half Tights', 3, 85);
INSERT INTO order_items VALUES (2035, 3006, 'Running Vest', 1, 98);
INSERT INTO order_items VALUES (2036, 3002, 'Insignia Crewneck', 4, 129);
INSERT INTO order_items VALUES (2036, 3004, 'Insignia Sweatpants', 2, 129);
INSERT INTO order_items VALUES (2037, 3001, 'Insignia Tee', 1, 77);
INSERT INTO order_items VALUES (2037, 3003, 'Insignia Hoodie', 2, 142);
INSERT INTO order_items VALUES (2038, 3005, 'L/S Compression Top', 1, 104);
INSERT INTO order_items VALUES (2038, 3007, 'Half Tights', 3, 85);
INSERT INTO order_items VALUES (2039, 3006, 'Running Vest', 2, 98);
INSERT INTO order_items VALUES (2039, 3002, 'Insignia Crewneck', 1, 129);
INSERT INTO order_items VALUES (2040, 3004, 'Insignia Sweatpants', 3, 129);
INSERT INTO order_items VALUES (2040, 3001, 'Insignia Tee', 1, 77);
INSERT INTO order_items VALUES (2041, 3003, 'Insignia Hoodie', 1, 142);
INSERT INTO order_items VALUES (2041, 3005, 'L/S Compression Top', 2, 104);
INSERT INTO order_items VALUES (2042, 3007, 'Half Tights', 3, 85);
INSERT INTO order_items VALUES (2042, 3006, 'Running Vest', 1, 98);
INSERT INTO order_items VALUES (2043, 3002, 'Insignia Crewneck', 4, 129);
INSERT INTO order_items VALUES (2043, 3004, 'Insignia Sweatpants', 2, 129);
INSERT INTO order_items VALUES (2044, 3001, 'Insignia Tee', 1, 77);
INSERT INTO order_items VALUES (2044, 3003, 'Insignia Hoodie', 2, 142);
INSERT INTO order_items VALUES (2045, 3005, 'L/S Compression Top', 1, 104);
INSERT INTO order_items VALUES (2045, 3007, 'Half Tights', 3, 85);
INSERT INTO order_items VALUES (2046, 3006, 'Running Vest', 2, 98);
INSERT INTO order_items VALUES (2046, 3002, 'Insignia Crewneck', 1, 129);
INSERT INTO order_items VALUES (2047, 3004, 'Insignia Sweatpants', 3, 129);
INSERT INTO order_items VALUES (2047, 3001, 'Insignia Tee', 1, 77);
INSERT INTO order_items VALUES (2048, 3003, 'Insignia Hoodie', 1, 142);
INSERT INTO order_items VALUES (2048, 3005, 'L/S Compression Top', 2, 104);
INSERT INTO order_items VALUES (2049, 3007, 'Half Tights', 1, 85);
INSERT INTO order_items VALUES (2049, 3006, 'Running Vest', 1, 98);
INSERT INTO order_items VALUES (2050, 3002, 'Insignia Crewneck', 4, 129);
INSERT INTO order_items VALUES (2050, 3004, 'Insignia Sweatpants', 2, 129);
INSERT INTO order_items VALUES (2051, 3001, 'Insignia Tee', 1, 77);
INSERT INTO order_items VALUES (2051, 3003, 'Insignia Hoodie', 2, 142);
INSERT INTO order_items VALUES (2052, 3005, 'L/S Compression Top', 1, 104);
INSERT INTO order_items VALUES (2052, 3007, 'Half Tights', 3, 85);
INSERT INTO order_items VALUES (2053, 3006, 'Running Vest', 2, 98);
INSERT INTO order_items VALUES (2053, 3002, 'Insignia Crewneck', 1, 129);
INSERT INTO order_items VALUES (2054, 3004, 'Insignia Sweatpants', 3, 129);
INSERT INTO order_items VALUES (2054, 3001, 'Insignia Tee', 1, 77);
INSERT INTO order_items VALUES (2055, 3003, 'Insignia Hoodie', 1, 142);
INSERT INTO order_items VALUES (2055, 3005, 'L/S Compression Top', 2, 104);
INSERT INTO order_items VALUES (2056, 3007, 'Half Tights', 3, 85);
INSERT INTO order_items VALUES (2056, 3006, 'Running Vest', 1, 98);
INSERT INTO order_items VALUES (2057, 3002, 'Insignia Crewneck', 4, 129);
INSERT INTO order_items VALUES (2057, 3004, 'Insignia Sweatpants', 2, 129);
INSERT INTO order_items VALUES (2058, 3001, 'Insignia Tee', 1, 77);
INSERT INTO order_items VALUES (2058, 3003, 'Insignia Hoodie', 2, 142);
INSERT INTO order_items VALUES (2059, 3005, 'L/S Compression Top', 1, 104);
INSERT INTO order_items VALUES (2059, 3007, 'Half Tights', 3, 85);
INSERT INTO order_items VALUES (2060, 3006, 'Running Vest', 2, 98);
INSERT INTO order_items VALUES (2060, 3002, 'Insignia Crewneck', 1, 129);

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

1 rows affected.

++
||
++
++

### Language Sypnosis + Branches/Loops Example Queries

Operators and Data Retrieval

In [9]:
%%sql sqlite://

-- orders lines for cancelled orders

SELECT *
FROM orders
WHERE order_status = 'Cancelled';

+----------+-------------+--------------+------------+
| order_id | customer_id | order_status | order_date |
+----------+-------------+--------------+------------+
|   2004   |     1004    |  Cancelled   | 2024-11-14 |
|   2014   |     1014    |  Cancelled   | 2024-11-24 |
|   2021   |     1021    |  Cancelled   | 2024-11-16 |
+----------+-------------+--------------+------------+

In [11]:
%%sql sqlite://

-- limiting outputs

SELECT *
FROM orders
LIMIT 3;

+----------+-------------+--------------+------------+
| order_id | customer_id | order_status | order_date |
+----------+-------------+--------------+------------+
|   2001   |     1001    |   Shipped    | 2024-11-11 |
|   2002   |     1002    |   Pending    | 2024-11-12 |
|   2003   |     1003    |  Delivered   | 2024-11-13 |
+----------+-------------+--------------+------------+

In [ ]:
%%sql sqlite://

-- Other Syntax for Limiting Outputs

-- SQL Server and MS Access
SELECT TOP number|percent column_name(s)
FROM table_name
WHERE condition;

-- Oracle 12
SELECT column_name(s)
FROM table_name
FETCH FIRST number ROWS ONLY;

-- Older Oracle
SELECT column_name(s)
FROM table_name
WHERE ROWNUM <= number;

In [12]:
%%sql sqlite://

-- order statuses

SELECT DISTINCT order_status
FROM orders;

+--------------+
| order_status |
+--------------+
|   Shipped    |
|   Pending    |
|  Delivered   |
|  Cancelled   |
+--------------+

In [17]:
%%sql sqlite://

-- total orders
-- that are not shipped or delivered

SELECT COUNT(DISTINCT order_id) AS total_orders
FROM orders
WHERE order_status != 'Shipped' OR 'Delivered';

+--------------+
| total_orders |
+--------------+
|      41      |
+--------------+

In [18]:
%%sql sqlite://

-- total L/S Compression Tops order

SELECT COUNT(*) AS total_quantity
FROM order_items
WHERE item_name = 'L/S Compression Top';

+----------------+
| total_quantity |
+----------------+
|       17       |
+----------------+

In [19]:
%%sql sqlite://

-- orders for Insignia products

SELECT *
FROM orders
WHERE order_id IN (
    SELECT order_id
    FROM order_items
    WHERE item_name LIKE 'Insignia%'
);

+----------+-------------+--------------+------------+
| order_id | customer_id | order_status | order_date |
+----------+-------------+--------------+------------+
|   2001   |     1001    |   Shipped    | 2024-11-11 |
|   2002   |     1002    |   Pending    | 2024-11-12 |
|   2003   |     1003    |  Delivered   | 2024-11-13 |
|   2004   |     1004    |  Cancelled   | 2024-11-14 |
|   2005   |     1005    |   Pending    | 2024-11-15 |
|   2007   |     1007    |  Delivered   | 2024-11-17 |
|   2008   |     1008    |   Pending    | 2024-11-18 |
|   2009   |     1009    |   Shipped    | 2024-11-19 |
|   2010   |     1010    |  Delivered   | 2024-11-20 |
|   2011   |     1011    |   Pending    | 2024-11-21 |
|   2012   |     1012    |   Shipped    | 2024-11-22 |
|   2013   |     1013    |  Delivered   | 2024-11-23 |
|   2015   |     1015    |   Pending    | 2024-11-25 |
|   2016   |     1016    |   Shipped    | 2024-11-11 |
|   2018   |     1018    |   Pending    | 2024-11-13 |
|   2019   |     1019    |   Shipped    | 2024-11-14 |
|   2020   |     1020    |  Delivered   | 2024-11-15 |
|   2022   |     1022    |   Pending    | 2024-11-17 |
|   2023   |     1023    |   Shipped    | 2024-11-18 |
|   2025   |     1025    |   Pending    | 2024-11-20 |
|   2026   |     1026    |   Shipped    | 2024-11-21 |
|   2027   |     1027    |  Delivered   | 2024-11-22 |
|   2029   |     1029    |   Shipped    | 2024-11-24 |
|   2030   |     1030    |  Delivered   | 2024-11-25 |
|   2032   |     1032    |   Shipped    | 2024-11-12 |
|   2033   |     1033    |  Delivered   | 2024-11-13 |
|   2034   |     1034    |   Pending    | 2024-11-14 |
|   2036   |     1036    |  Delivered   | 2024-11-16 |
|   2037   |     1037    |   Pending    | 2024-11-17 |
|   2039   |     1039    |  Delivered   | 2024-11-19 |
|   2040   |     1040    |   Pending    | 2024-11-20 |
|   2041   |     1041    |   Shipped    | 2024-11-21 |
|   2043   |     1043    |   Pending    | 2024-11-23 |
|   2044   |     1044    |   Shipped    | 2024-11-24 |
|   2046   |     1046    |   Pending    | 2024-11-11 |
|   2047   |     1047    |   Shipped    | 2024-11-12 |
|   2048   |     1048    |  Delivered   | 2024-11-13 |
|   2050   |     1050    |   Shipped    | 2024-11-15 |
|   2051   |     1001    |  Delivered   | 2024-11-16 |
|   2053   |     1003    |   Shipped    | 2024-11-18 |
|   2054   |     1004    |  Delivered   | 2024-11-19 |
|   2055   |     1005    |   Pending    | 2024-11-20 |
|   2057   |     1007    |  Delivered   | 2024-11-22 |
|   2058   |     1008    |   Pending    | 2024-11-23 |
|   2060   |     1010    |  Delivered   | 2024-11-25 |
+----------+-------------+--------------+------------+

In [ ]:
%%sql sqlite://

-- other LIKE (Wildcard) Characters

-- %	Represents zero or more characters
  WHERE item_name LIKE 'Insignia%'

-- _	Represents a single character
  WHERE item_name LIKE 'Insi_nia%'

-- []	Represents any single character within the brackets *
  WHERE item_name LIKE 'In[qrs]ignia%'

-- -	Represents any single character within the specified range *
  WHERE item_name LIKE 'In[l-v]ignia%'

In [21]:
%%sql sqlite://

-- orders lines for orders between 11/11 and 11/15, ordered by order date
-- AND customer ids between 1042 and 1050

SELECT *
FROM orders
WHERE order_date < '2024-11-15' AND order_date > '2024-11-11'
  AND customer_id BETWEEN 1042 AND 1050
ORDER BY order_date, order_id ASC;

+----------+-------------+--------------+------------+
| order_id | customer_id | order_status | order_date |
+----------+-------------+--------------+------------+
|   2047   |     1047    |   Shipped    | 2024-11-12 |
|   2048   |     1048    |  Delivered   | 2024-11-13 |
|   2049   |     1049    |   Pending    | 2024-11-14 |
+----------+-------------+--------------+------------+

Branches + Loops
- Case Statements

In [22]:
%%sql sqlite://

-- case statement loop for shipping time

SELECT
  name AS customer_name,
  customer_id AS customer_id,
  state AS customer_state,
  CASE
    WHEN state = 'Florida' THEN 'Next Day'
    WHEN state = 'Alaska' OR 'Hawaii' THEN 'Four Day'
    ELSE 'Standard Two Day'
  END AS shipping_time
FROM customers;

+-----------------+-------------+----------------+------------------+
|  customer_name  | customer_id | customer_state |  shipping_time   |
+-----------------+-------------+----------------+------------------+
|   Alice Smith   |     1001    |   California   | Standard Two Day |
|   Bob Johnson   |     1002    |    New York    | Standard Two Day |
|  Charlie Brown  |     1003    |     Texas      | Standard Two Day |
|   Diana Green   |     1004    |    Florida     |     Next Day     |
|   Edward White  |     1005    |    Illinois    | Standard Two Day |
|   Fiona Black   |     1006    |     Nevada     | Standard Two Day |
|  George Miller  |     1007    |   Washington   | Standard Two Day |
|    Hannah Lee   |     1008    |     Oregon     | Standard Two Day |
|    Ian Walker   |     1009    |    Arizona     | Standard Two Day |
| Jackie Robinson |     1010    |    Colorado    | Standard Two Day |
|    Karen Hall   |     1011    |    Georgia     | Standard Two Day |
|    Liam King    |     1012    |    Alabama     | Standard Two Day |
|   Molly Adams   |     1013    |    Michigan    | Standard Two Day |
|  Nathan Carter  |     1014    |      Ohio      | Standard Two Day |
|   Olivia Scott  |     1015    |    Indiana     | Standard Two Day |
|   Paul Turner   |     1016    |    Missouri    | Standard Two Day |
|   Quinn Harris  |     1017    |    Kentucky    | Standard Two Day |
|  Rachel Wright  |     1018    |    Virginia    | Standard Two Day |
|   Samuel Young  |     1019    |   Tennessee    | Standard Two Day |
|  Tina Mitchell  |     1020    |   Minnesota    | Standard Two Day |
|    Umar Reed    |     1021    |  Mississippi   | Standard Two Day |
| Victoria Hughes |     1022    |   Wisconsin    | Standard Two Day |
|  William Bryant |     1023    | South Carolina | Standard Two Day |
|   Xena Harper   |     1024    | North Carolina | Standard Two Day |
|  Yasmine Morris |     1025    |   Louisiana    | Standard Two Day |
|   Zachary Ford  |     1026    |    Arkansas    | Standard Two Day |
|  Abigail Brooks |     1027    |    Montana     | Standard Two Day |
| Benjamin Fisher |     1028    | West Virginia  | Standard Two Day |
| Catherine James |     1029    |    Nebraska    | Standard Two Day |
|   David Ellis   |     1030    |  South Dakota  | Standard Two Day |
|   Elena Peters  |     1031    |  North Dakota  | Standard Two Day |
|  Franklin Ross  |     1032    |     Hawaii     | Standard Two Day |
|  Grace Coleman  |     1033    |     Alaska     |     Four Day     |
|  Henry Ramirez  |     1034    |     Maine      | Standard Two Day |
|    Isla Clark   |     1035    | New Hampshire  | Standard Two Day |
|    Jacob Hill   |     1036    |    Vermont     | Standard Two Day |
|  Kaitlyn Perez  |     1037    |    Delaware    | Standard Two Day |
|  Logan Simmons  |     1038    |  Rhode Island  | Standard Two Day |
|   Megan Foster  |     1039    |  Connecticut   | Standard Two Day |
|  Noah Gonzales  |     1040    | Massachusetts  | Standard Two Day |
|  Olivia Russell |     1041    |  Pennsylvania  | Standard Two Day |
|   Parker Hayes  |     1042    |    Maryland    | Standard Two Day |
|  Quincy Bennett |     1043    |   New Jersey   | Standard Two Day |
|   Riley Torres  |     1044    |   New Mexico   | Standard Two Day |
|   Sophia Reed   |     1045    |      Utah      | Standard Two Day |
|   Thomas Lewis  |     1046    |     Kansas     | Standard Two Day |
|   Uma Edwards   |     1047    |    Oklahoma    | Standard Two Day |
|   Victor Hall   |     1048    |     Idaho      | Standard Two Day |
|    Wendy Bell   |     1049    |    Wyoming     | Standard Two Day |
|   Xander Scott  |     1050    |    Montana     | Standard Two Day |
+-----------------+-------------+----------------+------------------+

### Intermediate and Unique Features
- Indexing
- Joins

JOINS

(INNER) JOIN: Returns records that have matching values in both tables

LEFT (OUTER) JOIN: Returns all records from the left table, and the matched records from the right table

RIGHT (OUTER) JOIN: Returns all records from the right table, and the matched records from the left table

FULL (OUTER) JOIN: Returns all records when there is a match in either left or right table

![Xnip2024-12-08_11-15-01.jpg]()

In [23]:
%%sql sqlite://

-- average total order price

SELECT AVG(order_total_price) AS avg_order_price
FROM (
    SELECT o.order_id, SUM(oi.quantity * oi.list_price) AS order_total_price
    FROM orders o
    JOIN order_items oi ON o.order_id = oi.order_id
    GROUP BY o.order_id
) AS order_totals;

+-----------------+
| avg_order_price |
+-----------------+
|      399.9      |
+-----------------+

In [27]:
%%sql sqlite://

-- top 10 highest total_order_price

SELECT o.customer_id, o.order_id, SUM(oi.quantity * oi.list_price) AS total_order_price
FROM orders o
JOIN order_items oi ON o.order_id = oi.order_id
GROUP BY o.order_id
ORDER BY total_order_price DESC
LIMIT 10;

+-------------+----------+-------------------+
| customer_id | order_id | total_order_price |
+-------------+----------+-------------------+
|     1007    |   2057   |        774        |
|     1050    |   2050   |        774        |
|     1043    |   2043   |        774        |
|     1036    |   2036   |        774        |
|     1018    |   2018   |        614        |
|     1011    |   2011   |        614        |
|     1027    |   2027   |        530        |
|     1029    |   2029   |        516        |
|     1022    |   2022   |        516        |
|     1010    |   2010   |        472        |
+-------------+----------+-------------------+

In [29]:
%%sql sqlite://

-- min and max aggregate functions for total_order_price

-- SELECT min(order_total_price) AS lowest_order_total
SELECT max(order_total_price) AS highest_order_total
FROM (
    SELECT o.order_id, SUM(oi.quantity * oi.list_price) AS order_total_price
    FROM orders o
    JOIN order_items oi ON o.order_id = oi.order_id
    GROUP BY o.order_id
) AS order_totals;

+---------------------+
| highest_order_total |
+---------------------+
|         774         |
+---------------------+

In [30]:
%%sql sqlite://

-- information for cancelled orders from multiple tables

SELECT
  c.name AS customer_name,
  c.customer_id AS customer_id,
  c.email AS customer_email,
  o.order_id,
  oi.item_id,
  oi.quantity,
  oi.item_name,
  (oi.quantity * oi.list_price) AS total_price
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_items oi ON o.order_id = oi.order_id
WHERE o.order_status = 'Cancelled';

+---------------+-------------+---------------------------+----------+---------+----------+---------------------+-------------+
| customer_name | customer_id |       customer_email      | order_id | item_id | quantity |      item_name      | total_price |
+---------------+-------------+---------------------------+----------+---------+----------+---------------------+-------------+
|  Diana Green  |     1004    |  diana.green@example.com  |   2004   |   3001  |    4     |     Insignia Tee    |     308     |
|  Diana Green  |     1004    |  diana.green@example.com  |   2004   |   3006  |    1     |     Running Vest    |      98     |
| Nathan Carter |     1014    | nathan.carter@example.com |   2014   |   3005  |    3     | L/S Compression Top |     312     |
| Nathan Carter |     1014    | nathan.carter@example.com |   2014   |   3007  |    1     |     Half Tights     |      85     |
|   Umar Reed   |     1021    |   umar.reed@example.com   |   2021   |   3006  |    2     |     Running Vest    |     196     |
|   Umar Reed   |     1021    |   umar.reed@example.com   |   2021   |   3007  |    1     |     Half Tights     |      85     |
+---------------+-------------+---------------------------+----------+---------+----------+---------------------+-------------+

In [31]:
%%sql sqlite://

-- information for order dates between 11/11 and 11/15 from multiple tables

SELECT
  c.customer_id AS customer_id,
  o.order_id,
  oi.item_id,
  oi.quantity,
  oi.item_name,
  o.order_status,
  o.order_date
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_items oi ON o.order_id = oi.order_id
WHERE o.order_date < '2024-11-15' AND order_date > '2024-11-11';

+-------------+----------+---------+----------+---------------------+--------------+------------+
| customer_id | order_id | item_id | quantity |      item_name      | order_status | order_date |
+-------------+----------+---------+----------+---------------------+--------------+------------+
|     1002    |   2002   |   3002  |    1     |  Insignia Crewneck  |   Pending    | 2024-11-12 |
|     1002    |   2002   |   3005  |    3     | L/S Compression Top |   Pending    | 2024-11-12 |
|     1003    |   2003   |   3004  |    2     | Insignia Sweatpants |  Delivered   | 2024-11-13 |
|     1003    |   2003   |   3007  |    1     |     Half Tights     |  Delivered   | 2024-11-13 |
|     1004    |   2004   |   3001  |    4     |     Insignia Tee    |  Cancelled   | 2024-11-14 |
|     1004    |   2004   |   3006  |    1     |     Running Vest    |  Cancelled   | 2024-11-14 |
|     1017    |   2017   |   3005  |    2     | L/S Compression Top |  Delivered   | 2024-11-12 |
|     1017    |   2017   |   3007  |    1     |     Half Tights     |  Delivered   | 2024-11-12 |
|     1018    |   2018   |   3002  |    4     |  Insignia Crewneck  |   Pending    | 2024-11-13 |
|     1018    |   2018   |   3006  |    1     |     Running Vest    |   Pending    | 2024-11-13 |
|     1019    |   2019   |   3001  |    1     |     Insignia Tee    |   Shipped    | 2024-11-14 |
|     1019    |   2019   |   3004  |    2     | Insignia Sweatpants |   Shipped    | 2024-11-14 |
|     1032    |   2032   |   3002  |    1     |  Insignia Crewneck  |   Shipped    | 2024-11-12 |
|     1032    |   2032   |   3007  |    3     |     Half Tights     |   Shipped    | 2024-11-12 |
|     1033    |   2033   |   3001  |    1     |     Insignia Tee    |  Delivered   | 2024-11-13 |
|     1033    |   2033   |   3004  |    2     | Insignia Sweatpants |  Delivered   | 2024-11-13 |
|     1034    |   2034   |   3003  |    2     |   Insignia Hoodie   |   Pending    | 2024-11-14 |
|     1034    |   2034   |   3005  |    1     | L/S Compression Top |   Pending    | 2024-11-14 |
|     1047    |   2047   |   3001  |    1     |     Insignia Tee    |   Shipped    | 2024-11-12 |
|     1047    |   2047   |   3004  |    3     | Insignia Sweatpants |   Shipped    | 2024-11-12 |
|     1048    |   2048   |   3003  |    1     |   Insignia Hoodie   |  Delivered   | 2024-11-13 |
|     1048    |   2048   |   3005  |    2     | L/S Compression Top |  Delivered   | 2024-11-13 |
|     1049    |   2049   |   3006  |    1     |     Running Vest    |   Pending    | 2024-11-14 |
|     1049    |   2049   |   3007  |    1     |     Half Tights     |   Pending    | 2024-11-14 |
+-------------+----------+---------+----------+---------------------+--------------+------------+

In [ ]:
%%sql sqlite://

-- information for orders of Insignia Sweatpants from multiple tables

SELECT
  c.name AS customer_name,
  c.customer_id AS customer_id,
  c.email AS customer_email,
  o.order_id,
  oi.item_id,
  oi.quantity,
  o.order_status,
  o.order_date,
  (oi.quantity * oi.list_price) AS total_price
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_items oi ON o.order_id = oi.order_id
WHERE oi.item_name = 'Insignia Sweatpants';

In [32]:
%%sql sqlite://

-- Updating Order Status

UPDATE orders
SET order_status = 'Cancelled'
WHERE order_id = 2002;

1 rows affected.

++
||
++
++

In [33]:
%%sql sqlite://

-- Check Updates

SELECT
  c.customer_id AS customer_id,
  o.order_id,
  oi.item_id,
  oi.quantity,
  oi.item_name,
  o.order_status,
  o.order_date
FROM customers c
JOIN orders o ON c.customer_id = o.customer_id
JOIN order_items oi ON o.order_id = oi.order_id
WHERE o.order_id = 2002;

+-------------+----------+---------+----------+---------------------+--------------+------------+
| customer_id | order_id | item_id | quantity |      item_name      | order_status | order_date |
+-------------+----------+---------+----------+---------------------+--------------+------------+
|     1002    |   2002   |   3002  |    1     |  Insignia Crewneck  |  Cancelled   | 2024-11-12 |
|     1002    |   2002   |   3005  |    3     | L/S Compression Top |  Cancelled   | 2024-11-12 |
+-------------+----------+---------+----------+---------------------+--------------+------------+

In [34]:
%%sql sqlite://

-- Delete Cancelled Orders from Database

DELETE
FROM orders
WHERE order_status = 'Cancelled';

4 rows affected.

++
||
++
++

In [35]:
%%sql sqlite://

-- Check Deletions

SELECT *
FROM orders
WHERE order_status = 'Cancelled';

+----------+-------------+--------------+------------+
| order_id | customer_id | order_status | order_date |
+----------+-------------+--------------+------------+
+----------+-------------+--------------+------------+

In [ ]:
%%sql sqlite://

-- delete contents of tables without deleting table

DELETE FROM customers;

In [ ]:
%%sql sqlite://

-- delete entire table

DROP TABLE customers;

### Functions - Not (exactly) Supported with sqlite

In [ ]:
%%sql sqlite://

-- function for obtaining the number of orders for a specific customer

CREATE FUNCTION get_order_count(customer_id INT)
RETURNS INT
AS
BEGIN
  RETURN(
    SELECT COUNT(*)
    FROM orders
    WHERE customer_id = customer_id_input
  );
END;

-- function usage

SELECT get_order_count(1001) AS order_count;

In [36]:
%%sql sqlite://

-- sqlite implementation

SELECT c.customer_id,
       c.name AS customer_name,
       COUNT(o.order_id) AS order_count
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
WHERE c.customer_id = 1001
GROUP BY c.customer_id;

+-------------+---------------+-------------+
| customer_id | customer_name | order_count |
+-------------+---------------+-------------+
|     1001    |  Alice Smith  |      2      |
+-------------+---------------+-------------+

In [ ]:
%%sql sqlite://

-- function for obtaining the items in a specific order id

CREATE FUNCTION get_order_details(order_id_input INT)
RETURN TABLE
AS
RETURN(
    SELECT
      oi.item_id,
      oi.item_name,
      oi.quantity,
      oi.list_price,
      (oi.quantity * oi.list_price) AS total_price
    FROM order_items oi
    WHERE oi.order_id = order_id_input
);
END;

-- function usage

SELECT *
FROM get_order_details(2001);

In [ ]:
%%sql sqlite://

-- sqlite implementation

SELECT oi.order_id,
       oi.item_id,
       oi.item_name,
       oi.quantity,
       oi.list_price,
       (oi.quantity * oi.list_price) AS total_price
FROM order_items oi
WHERE oi.order_id = 2001;

In [ ]:
%%sql sqlite://

-- function for determining the most popular item

CREATE FUNCTION get_most_popular_item()
RETURN TABLE
AS
RETURN(
  SELECT
    item_id,
    item_name,
    sum(quantity) AS total_quantity_sold
  FROM order_items
  GROUP BY item_id, item_name
  ORDER BY total_quantity_sold DESC
  LIMIT 1;
);
END;

-- function usage

SELECT *
FROM get_most_popular_item();

In [ ]:
%%sql sqlite://

-- sqlite implementation

SELECT oi.item_id,
       oi.item_name,
       SUM(oi.quantity) AS total_quantity_sold
FROM order_items oi
GROUP BY oi.item_id, oi.item_name
ORDER BY total_quantity_sold DESC
LIMIT 1;

Functions with CREATE VIEW

In [37]:
%%sql sqlite://

-- create view get order count

CREATE VIEW get_order_count AS
SELECT c.customer_id,
       c.name AS customer_name,
       COUNT(o.order_id) AS order_count
FROM customers c
LEFT JOIN orders o ON c.customer_id = o.customer_id
GROUP BY c.customer_id;

++
||
++
++

In [38]:
%%sql sqlite://

-- get order count usage

SELECT *
FROM get_order_count
WHERE customer_id = 1001;

+-------------+---------------+-------------+
| customer_id | customer_name | order_count |
+-------------+---------------+-------------+
|     1001    |  Alice Smith  |      2      |
+-------------+---------------+-------------+

In [ ]:
%%sql sqlite://

-- create view get order details

CREATE VIEW get_order_details AS
SELECT
    oi.order_id,
    oi.item_id,
    oi.item_name,
    oi.quantity,
    oi.list_price,
    (oi.quantity * oi.list_price) AS total_price
FROM order_items oi;

In [ ]:
%%sql sqlite://

-- get order details usage

SELECT *
FROM get_order_details
WHERE order_id = 2001;

In [ ]:
%%sql sqlite://

-- create view get most popular item

CREATE VIEW get_most_popular_item AS
SELECT
    item_id,
    item_name,
    SUM(quantity) AS total_quantity_sold
FROM order_items
GROUP BY item_id, item_name
ORDER BY total_quantity_sold DESC;

In [ ]:
%%sql sqlite://

-- get most popular item usage

SELECT *
FROM get_most_popular_item
LIMIT 1;

### How to Read/Write Files

In [ ]:
%%sql sqlite://

-- Reading
-- LOAD DATA INFILE - MySQL

LOAD DATA INFILE '/path/to/file.csv'
INTO TABLE table_name
FIELDS TERMINATED BY ',' -- field delimited
LINES TERMINATED BY '\n' -- line delimiter
IGNORE 1 LINES -- skipping header row
(column1, column2, column3);

In [ ]:
%%sql sqlite://

-- Writing
-- SELECT INTO OUTFILE - MySQL

SELECT *
INTO OUTFILE '/path/to/output.csv'
FIELDS TERMINATED BY ','  -- Field delimiter
LINES TERMINATED BY '\n'; -- Line delimiter

In [ ]:
%%sql sqlite://

-- Reading and Writing
-- COPY - PostgreSQL

COPY my_table(column1, column2, column3)
FROM '/path/to/file.csv' OR '/path/to/output.csv'
DELIMITER ','
CSV HEADER; -- skipping header row